{% extends "users/base.html" %}
{% block content %}
    <style>
        body {
            background-image: url('https://i.gifer.com/origin/56/56aea094612cfb30d2864d04782aa48d_w200.gif');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container {
            max-width: 570px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 100px;
        }

        a:hover {
            text-decoration: none;
        }

        .alert-info {
            background-color: #66B2FF;
            color: #ffffff;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 0;
        }

        .alert-info a {
            color: #ffffff;
            font-weight: bold;
        }
    </style>
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
